@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Sanchez');

.App {
  text-align: center;
}

.logo {
  max-width: 180px;
  padding-left: -200px;
}

.yellow {
  background-color: #FFC75F;
  padding-bottom: 2em;
}

.bigger {
  padding-top: 2em;
  padding-bottom: 8em;
}

h1, h2, h3 {
  color: white;
  font-family: 'Love Ya Like A Sister';
}

.translation_history {
  padding-top: 1em;
  color: black;
  font-family: 'Love Ya Like A Sister';
}

.no_translations {
  color: black;
  font-family: 'Sanchez';
}

.login_h1 {
  font-size: 3em;
  text-align: left;
}

.get_started {
  font-size: 2em;
  text-align: left;
  font-family: 'Sanchez';
}

nav {
  background-color: #FFC75F;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #564f42bc;
}

nav li {
  display: inline;
  color: white;
  font-family: 'Love Ya Like A Sister';
  margin-right: 1em;
  font-size: 20px;
}

.grid {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 700px;
  margin: auto;
}

.buttons li {
  list-style-type: none;
}

.buttons {
  display: grid;
  grid-template-columns: 10fr 10fr;
  max-width: 300px;
  margin: auto;
} 

.button_function {
  background-color: #845EC2;
  color: white;
  padding: 1em;
  border-radius: 10px;
  border-color: white;
  font-family: 'Sanchez';
  font-size: 16px;
}

.button_function:hover {
  background-color: #E7B355;
}

input[type="text"] {
  background-color: #EFEFEF;
  color: #969696;
  width: 400px;
  height: 20px;
  padding-right: 50px;
  border: 3px solid white;
  border-radius: 25px;
  padding: 1em;
  font-family: 'Sanchez';
  font-size: large;
}

.input {
  margin-bottom: 45px;
  padding-top: 2em;
}

.submit {
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2em;
  background-color: #845EC2;
  border: none;
  color: white;
  border-radius: 20px;
}

.submit:hover {
 background-color: #E7B355;
}

.username {
  font-family: 'Sanchez';
}

.button_div {
  margin-left: 23em;
  margin-top: -6em;
}

.loginbox {
  background-color: white;
  max-width: 650px;
  margin: auto;
  padding-top: 2em;
  border-radius: 20px;
  margin-top: -5em;
  border-bottom: solid 1em #845EC2;
  box-shadow: 2px 2px 2px 2px #EFEFEF;
}

.translations_box {
  background-color: white;
  max-width: 650px;
  margin: auto;
  border-radius: 20px;
  border-bottom: solid 1.5em #845EC2;
  box-shadow: 2px 2px 2px 2px #EFEFEF;
  margin-top: -7em;
}

.translations_box li {
  list-style-type: none;
}

.form_div {
  padding-bottom: 2em;
}

.form_div2 {
  padding-top: 2em;
}

.translate {
  max-width: 650px;
  margin: auto;
  padding-top: 2em;
  margin-top: 2em;
  border-radius: 20px;
  border-bottom: solid 1.5em #845EC2;
  box-shadow: 2px 2px 2px 2px #EFEFEF;
  min-height: 180px;
  background-color: white;
}

.selected {
  color: #969696;
}

.sign-img{
  max-height: 40px;
  max-width: 40px;
}